.chessboard{
    width: 400px;
    height: 400px;
    border: 1px solid red;
    border-collapse: collapse;
    margin-left: 400px;
    margin-top: 50px;
    background: b;
}
.white{
    width: 50px;
    height: 50px;
    background-color: green;
    border-collapse: collapse;
    float: left;
    border-radius: 50%;
}
.black {
    width: 50px;
    height: 50px;
    background-color: darkred;
    border-collapse: collapse;
    float: left;
    border-radius: 50%;

}
.chess{float: left}