
.container{
    width: 400px;
    height: 400px;
    border:1px solid black;
    border-radius: 50%;
}
.blackbox {
    width: 50px;
    height: 50px;
    background-color: black;
    border-collapse: collapse;
    border-radius: 50%;
    float: left;
    }

.whitebox {
    width: 50px;
    height: 50px;
    background-color: red;
    border-collapse: collapse;
    border-radius: 50%;
    float: left;
   }
